@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 243, 244, 246;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .card {
    @apply rounded-lg shadow-md overflow-hidden;
    background-color: #1F2937; /* Valor de dark-card */
  }

  .container-custom {
    @apply max-w-6xl mx-auto px-4;
  }

  .section-padding {
    @apply py-16 px-4;
  }

  .gradient-bg {
    @apply bg-gradient-to-br from-primary-dark to-accent-dark;
  }
}